.main {
  background-color: #6e6e6e;
}

.container-fluid {
  background-color: #6e6e6e;
}

.hero .img img {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.card-block {
  background-color: #484b4b;
}

#realhero .card-block {
  background-color: #6e6e6e;
  border-style: none;
}

#hero .card {
  border: 1px solid #6e6e6e;
}

/*@media all and (min-width:768px)*/
.hero {
  padding: 130px 0 0;
}


img {
  vertical-align: middle;
  border-style: none;
}

.hero {
  border: 0;
  color: #484b4b;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 80px 0 0;
  background-color: #484b4b;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

h4, .h4 {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}


